<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fre.shown.tryit.dao.UserDAO">

    <select id="getPasswordByAccount" resultType="String">
        select password from user where account = #{account};
    </select>

    <!--UserDO getUserByAccount(String account);-->
    <select id="getUserByAccount" resultType="fre.shown.tryit.pojo.UserDO">
        select id, account, name from user where account = #{account};
    </select>

    <!--List<UserDO> getUsersAsList(@Param("begin") Integer begin, @Param("cnt") Integer cnt, @Param("queryText") String queryText);-->
    <select id="getUsersAsList" resultType="fre.shown.tryit.pojo.UserDO">
        select id, account, name from user
        <where>
            <if test="queryText != null">
                account like  concat('%', #{queryText}, '%')
            </if>
        </where>
        order by id limit #{begin}, #{cnt};
    </select>

    <!--Integer getTotalUserCnt(@Param("queryText") String queryText);-->
    <select id="getTotalUserCnt" resultType="Integer">
        select count(*) from user
        <where>
            <if test="queryText != null">
                account like  concat('%', #{queryText}, '%')
            </if>
        </where>;
    </select>
</mapper>